<!DOCTYPE html>
<html>
<head>
<meta/>
<title>爱游天下-iyoutianxia</title>
<meta name="description" content="Administry - Admin Template by www.865171.cn" />
<meta name="keywords" content="Admin,Template" />
<link rel="shortcut icon" type="image/png" HREF="../img/favicons/favicon.png"/>
<link rel="icon" type="image/png" HREF="../img/favicons/favicon.png"/>
<link rel="apple-touch-icon" HREF="../img/favicons/apple.png" />
<link rel="stylesheet" href="../css/style.css" type="text/css" />
<link rel="stylesheet" href="../css/custom.css" type="text/css" />
<script type="text/javascript" SRC="../js/swfobject.js"></script>
<script type="text/javascript" SRC="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" SRC="../js/jquery.tipTip.min.js"></script>
<script type="text/javascript" SRC="../js/jquery.superfish.min.js"></script>
<script type="text/javascript" SRC="../js/jquery.supersubs.min.js"></script>
<script type="text/javascript" SRC="../js/jquery.nyroModal.pack.js"></script>
<script type="text/javascript" SRC="../js/jquery.validate_pack.js"></script>
<script type="text/javascript" SRC="../js/jquery.tagInput.min.js"></script>
<script type="text/javascript" SRC="../js/jquery.wysiwyg.min.js"></script>

<link rel="stylesheet" href="../textext/css/textext.core.css" type="text/css" />
<link rel="stylesheet" href="../textext/css/textext.plugin.tags.css" type="text/css" />
<link rel="stylesheet" href="../textext/css/textext.plugin.autocomplete.css" type="text/css" />
<link rel="stylesheet" href="../textext/css/textext.plugin.focus.css" type="text/css" />
<link rel="stylesheet" href="../textext/css/textext.plugin.prompt.css" type="text/css" />
<link rel="stylesheet" href="../textext/css/textext.plugin.arrow.css" type="text/css" />
<script src="../textext/js/textext.core.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.tags.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.autocomplete.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.suggestions.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.filter.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.focus.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.prompt.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.ajax.js" type="text/javascript" charset="utf-8"></script>
<script src="../textext/js/textext.plugin.arrow.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" SRC="../xheditor/xheditor-1.1.14-zh-cn.js"></script>
<script type="text/javascript" SRC="../at/jquery.atwho.js"></script>
<script type="text/javascript" SRC="../at/jquery.caret.js"></script>
<link type="text/css" rel="stylesheet" href="../at/jquery.atwho.css"/>
<script type="text/javascript" SRC="../js/payfor.js"></script>
<script type="text/javascript" SRC="../My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript" SRC="../js/jquery-ui-1.7.1.custom.min.js"></script>

<script type="text/javascript" SRC="../bsn/bsn.AutoSuggest_2.1.3_comp.js"></script>

<link rel="stylesheet" type="text/css" href="../bsn/autosuggest_inquisitor.css"/>

<script type="text/javascript" src="http://ditu.google.com/maps/api/js?sensor=false&language=zh-CN"></script>

<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<link rel="stylesheet" type="text/css" media="all" href="../../css/ie.css"/>
<script src="../js/html5.js"></script>
<![endif]-->
<!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
<!--[if lt IE 8]>
<script src="../../js/IE8.js"></script>
<![endif]-->
<style>
    .text-core .text-tag .text-button {
        padding-left : 22px !important;
    }

    .text-core .text-tag .custom-edit {
        display    : block;
        width      : 16px;
        height     : 16px;
        background : url(../textext/images/tag_blue.png);
        position   : absolute;
        left       : 2px;
        top        : 0px;
    }

    .text-core .text-tag .custom-edit:hover {
        background : url(../textext/images/tag_blue_edit.png);
    }
    
    .inputor {
	  height: 30px;
	  width: 710px;
	  border: 1px solid #dadada;
	  border-radius: 4px;
	  padding: 5px 8px;
	  outline: 0 none;
	  margin: 10px 0;
	  background: white;
	  font-size: inherit;
	}
	.inputor1 {
	  height: 60px;
	  width: 720px;
	  border: 1px solid #dadada;
	  border-radius: 4px;
	  padding: 5px 8px;
	  outline: 0 none;
	  margin: 10px 0;
	  background: white;
	  font-size: inherit;
	}
	
	.p_number{padding:0 0 0 0;width:400px;height:30px;}	
	.p_number .f_l{float:left;}
	.p_number .add_chose{width:105px;}
	.p_number .add_chose a{float:left;margin:5px 0 0 0;display:block;width:15px;height:15px;line-height:99em;overflow:hidden;background:url(../img/reduce-add.gif) no-repeat;}
	.p_number .add_chose a.reduce{background-position:0 0;}
	.p_number .add_chose a.reduce:hover{background-position:0 -16px;}
	.p_number .add_chose a.add{background-position:-16px 0;}
	.p_number .add_chose a.add:hover{background-position:-16px -16px;}
	.p_number .add_chose .text{float:left;margin:0 5px;display:inline;border:solid 1px #ccc;padding:4px 3px 4px 8px;width:40px;height:20px; line-height:18px;font-size:14px;color:#990000;font-weight:800;}
	.p_number .buy{line-height:2em;}
	.p_number .buy .total-font{font-family:Arial;font-size:26px;}
	.p_number .buy .jifen{margin-left:20px;color:#ACACAC;}
	.p_number .buy .jifen b{margin:0 3px;}


	
	
	#contentLeft {
		width: 300px;
	}
	
	#contentLeft li {
		list-style: none;
		height:20px;
		margin: 0 0 4px 0;
		padding: 10px;
		background-color:#00CCCC;
		border: #CCCCCC solid 1px;
		color:#fff;
	}
	
	
		
	
	#contentRight {
		width: 450px;
		height:450px;
		padding:10px;
		color:#FFFFFF;
	}

</style>


<script type="text/javascript">

/* sample tags */
var tags=[
	{tag:"js",freq:30},{tag:"jquery",freq:25}, {tag:"pojo",freq:10},{tag:"agile",freq:4},
	{tag:"blog",freq:3},{tag:"canvas",freq:8}, {tag:"dialog",freq:3},{tag:"excel",freq:4},
	{tag:"engine",freq:5},{tag:"flex",freq:18}, {tag:"firefox",freq:23},{tag:"javascript",freq:40},
	{tag:"graph",freq:15},{tag:"grid",freq:20}, {tag:"hibernate",freq:13},{tag:"ical",freq:4},
	{tag:"ldap",freq:9},{tag:"load",freq:20}, {tag:"security",freq:13},{tag:"XSS",freq:21},
	{tag:"CSRF",freq:19},{tag:"html",freq:22}, {tag:"xml",freq:13},{tag:"tools",freq:21}
];

$(document).ready(function(){
	$(function() {
		$("#contentLeft ul").sortable({ opacity: 0.6, cursor: 'move', update: function() {
			var order = $(this).sortable("serialize") + '&action=updateRecordsListings'; 
			
			ssort();
			
			dline();
		}								  
		});
	});
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	$('#productdesc').wysiwyg({
    controls: {
      strikeThrough : { visible : true },
      underline     : { visible : true },
      
      justifyLeft   : { visible : true },
      justifyCenter : { visible : true },
      justifyRight  : { visible : true },
      justifyFull   : { visible : true },
      
      indent  : { visible : true },
      outdent : { visible : true },
      
      subscript   : { visible : true },
      superscript : { visible : true },
      
      undo : { visible : true },
      redo : { visible : true },
      
      insertOrderedList    : { visible : true },
      insertUnorderedList  : { visible : true },
      insertHorizontalRule : { visible : true },

      h4: {
              visible: true,
              className: 'h4',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h4>' : 'h4'],
              tags: ['h4'],
              tooltip: 'Header 4'
      },
      h5: {
              visible: true,
              className: 'h5',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h5>' : 'h5'],
              tags: ['h5'],
              tooltip: 'Header 5'
      },
      h6: {
              visible: true,
              className: 'h6',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h6>' : 'h6'],
              tags: ['h6'],
              tooltip: 'Header 6'
      },
      
      cut   : { visible : true },
      copy  : { visible : true },
      paste : { visible : true },
      html  : { visible: true }
    }
  }); 
  
	/* tag input field */
	$("#tagss").tagInput({
		tags:tags,
		//jsonUrl:"tags.json",
		sortBy:"frequency",
		suggestedTags:["jquery", "tagging", "tag", "component", "delicious", "javascript"],
		tagSeparator:" ",
		autoFilter:true,
		autoStart:false,
		//suggestedTagsPlaceHolder:$("#suggested"),
		boldify:true
	});


});
</script>
</head>
<body onload="initialize()">
	<!-- Header -->
	<!-- #include /header.html -->
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1><!-- 社区 &rarr; <span>游记</span> -->行程</h1>
			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first" style="height:450px;width:450px;">					

					<h3></h3>
					
					<form id="sampleform" method="post" action="rclist">
						<input type="hidden" name="id" value="${route.id}">
						<div id="citylist"></div>
						<fieldset>
							<legend>${route.name}</legend>
							<p>
								<label for="photo">出发日期</label>&nbsp;${route.startdateStr}&nbsp;<label for="photo">&nbsp;预计</label>&nbsp;${route.days}&nbsp;<label for="photo">天</label>
							</p>
							<p>
								<label for="photo">出发城市</label>&nbsp; ${route.startcityStr}
							</p>
							
							<p>
							<div id="contentLeft">
								<ul id="clist">
								</ul>	
							</div>
							</p>
							<div id="sexys">
								
							</div>
							<div id="mxys">
								
							</div>
							<p>
								<input type="text" id="scity" class="half title" value="" name="scity" style="display: none" />
							</p>
							<p><a onclick="javascript:document.getElementById('scity').style.display='block';" href="javascript: //;">+ 添加城市</a></p>
							<p>
								<label for="photo">返回城市</label>&nbsp; ${route.endcityStr}
							</p>
							<!-- <div class="clearfix leading">
								<div class="column width3 first">
									<p>
										<label for="productcat">游记类型</label><br/>
										<select id="productcat" class="full" name="productcat">
											
										</select>
										<small></small>
									</p>
									<p><a href="#">+ 自定义游记类型</a></p>
								</div>
							</div> -->
							<!-- <p class="box"><a href="javascript:alert(document.getElementById('routetage').value;);" class="btn btn-green">保存</a></p> -->
							<p class="box"><input type="button" onclick="javascript:submitForm();" class="btn btn-green big" value="下一步"/> or <a href="#">取消</a></p>

						</fieldset>

					</form>

				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2" style="width:500px;height:440px;">
					 <div class="content-box" style="width:500px;height:440px;">
						  <div id="my_canvas" style="width:500px;height:440px;"></div>
					</div>
				</aside>
				<!-- End of Right column/section -->
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
				<a href="#">Dashboard</a> &middot;
				<a href="#">Content</a> &middot;
				<a href="#">Reports</a> &middot;
				<a href="#">Users</a> &middot;
				<a href="#">Media</a> &middot;
				<a href="#">Events</a> &middot;
				<a href="#">Newsletter</a> &middot;
				<a href="#">Settings</a>
			</nav>
			<p>Copyright &copy; 2010 <b><a HREF="http://www.865171.cn" title="www.865171.cn">www.865171.cn</a></b> | Icons by <a HREF="http://www.865171.cn">865171.cn</a></p>
		</div>
	</footer>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

<!-- User interface javascript load -->
<script type="text/javascript" SRC="../js/administry.js"></script>
<script type="text/javascript" SRC="../at/at.js"></script>
<script type="text/javascript">
	var options = {
		script: function (input) { return "http://localhost:8080/iyoutianxia/iytx/areajson?stype=city&input="+input },
		varname:"input",
		noresults:"没有找到结果",
		callback: function (obj) {
			//alert(latlngs.get(obj.id));
			var ltmp=ls[ls.length-1];
			ls[ls.length-1]=obj.id;
			ls.push(ltmp);
			
			var txt='<span style="float: left;">'+obj.value+'</span><div class="p_number">'
					+'<div class="f_l add_chose">'
					+'<a class="reduce" onClick="setAmount.reduce(\'#d'+obj.id+'\')" href="javascript:void(0)">'
					+'-</a>'
					+'<input type="text" name="days" value="1" id="d'+obj.id+'" onKeyUp="setAmount.modify(\'#d'+obj.id+'\')" class="text" />'
					+'<a class="add" onClick="setAmount.add(\'#d'+obj.id+'\')" href="javascript:void(0)">'
					+'+</a>'
					+'</div>'
					+'</div>';
			
			//alert(ls.length);
			add(-1,obj.id,txt);
			document.getElementById('scity').value="";
			document.getElementById('scity').style.display="none";
			//dxyadd(obj.value,obj.id);
			
			dline();
		}
	};
	var as_json = new bsn.AutoSuggest('scity', options);
	function add(n,id,txt){
	  	var s=document.getElementById('clist');
	  	var t=s.childNodes.length;
	  	var li= document.createElement("li");
	  	li.innerHTML=txt;
	  	li.id=id;
	  	for (var i=0;i<t;i++){
	   		if (n==-1){
	    		s.appendChild(li);
	   		}else if (i==n-1){
	    		s.insertBefore(li,s.childNodes[i]);
	   		}
	  	}
	}
</script>
<script type="text/javascript">
	
	
var map;
var geocoder;
	var ls=new Array();
	var rindex=1;
	
	var query1 = new Array("${route.startcity}","${route.endcity}"); 
	function initialize() {
		var ilt=new google.maps.LatLng(39.90402603,116.40753174);
		geocoder = new google.maps.Geocoder();
	    var myOptions = {
	        zoom: 4,//缩放比例
	        center:ilt,
	        mapTypeId: google.maps.MapTypeId.ROADMAP //地图类型 ?MapTypeId.ROADMAP ?MapTypeId.SATELLITE ?MapTypeId.HYBRID ?MapTypeId.TERRAIN 
	
	    }
	    map = new google.maps.Map(document.getElementById("my_canvas"), myOptions);
	    for(var i=0;i<query1.length;i++){
	    	ls.push(query1[i]);
	    }
	    dline();
	}
	
	var polyline;
	var polylinesArray = [];
	//距离标记数组
	var lenArray = []; 
	function dline(){	
		var flightPlanCoordinates = [];
		if(lenArray){
			for(var i=0;i<lenArray.length;i++){
				lenArray[i].setMap(null);
			}
			lenArray=[];
		}
		var latlngbounds = new google.maps.LatLngBounds();
		if(ls){
			for (var i=0;i<ls.length;i++) {
				//alert(ls[i]);
				var loc = latlngs.get(ls[i]).split(',');
				var lt=new google.maps.LatLng(loc[0], loc[1]);
				latlngbounds.extend(lt);  
	            flightPlanCoordinates.push(lt);
	            
	            var marker = new google.maps.Marker({
	                map: map,
	                position: lt,
	                animation: google.maps.Animation.DROP //坐标动画效果
	            });
	            lenArray.push(marker);
	            if(i==0){
	            	var infowindow = new google.maps.InfoWindow({
		                content: "<span style='font-size:11px'>起点</span>",
		                pixelOffset:0, //坐标偏移量，一般不用修改
		                position: lt

		            });
	            }
	            else if(i==ls.length-1){
	            	var infowindow = new google.maps.InfoWindow({
		                content: "<span style='font-size:11px'>终点</span>",
		                pixelOffset:0, //坐标偏移量，一般不用修改
		                position: lt

		            });
	            }
	            else{
	            	var infowindow = new google.maps.InfoWindow({
		                content: "<span style='font-size:11px'>第"+(i+1)+"站</span>",
		                pixelOffset:0, //坐标偏移量，一般不用修改
		                position: lt

		            });
	            }
	            
			   	
			   	infowindow.open(map, marker);
	        }
		}
		//alert(getZoomByBounds(map,latlngbounds));
		//map.setCenter(latlngbounds.getCenter(),map.getBoundsZoomLevel(latlngbounds)); 
		var polylineOptions = {
		    path : flightPlanCoordinates,
		    map : map,
		    strokeColor : "#FF0000",
		    strokeOpacity : 1.0,
		    strokeWeight : 2
		};
		polyline = new google.maps.Polyline(polylineOptions);
	   
	    //清除原有折线路径
	    if (polylinesArray) {
	        for (var i=0;i<polylinesArray.length;i++) {
	            polylinesArray[i].setMap(null);
	        }
	        polylinesArray = [];
	    }
	    polyline.setMap(map);
	    polylinesArray.push(polyline);
		
		
	}
	function ssort(){
		var stmp=ls[0];
		var etmp=ls[ls.length-1];
		
		var lstmp=new Array();
		lstmp[0]=stmp;
		
		var s=document.getElementById('clist');
	  	var t=s.childNodes.length;
	  	for (var i=1;i<t;i++){
	  		//alert(s.childNodes[i].innerHTML);
	  		lstmp[i]=s.childNodes[i].id;
	  	}
	  	lstmp[lstmp.length]=etmp;
	  	ls=[];
	  	ls=lstmp;
		
	}
	
	function HashMap(){
	    var size = 0;
	    var entry = new Object();
	    
	    this.put = function (key , value){
	        if(!this.containsKey(key)){
	            size ++ ;
	        }
	        entry[key] = value;
	    }
	    this.get = function (key){
	        if( this.containsKey(key) ){
	            return entry[key];
	        }else{
	            return null;
	        }
	    }
	    this.remove = function ( key ){
	        if( delete entry[key] ){
	            size --;
	        }
	    }
	    this.containsKey = function ( key ){
	        return (key in entry);
	    }
	    
	    this.containsValue = function ( value ){
	        for(var prop in entry){
	            if(entry[prop] == value){
	                return true;
	            }
	        }
	        return false;
	    }
	    
	    this.values = function (){
	        var values = new Array(size);
	        for(var prop in entry){
	            values.push(entry[prop]);
	        }
	        return values;
	    }
	    
	    this.keys = function (){
	        var keys = new Array(size);
	        for(var prop in entry){
	            keys.push(prop);
	        }
	        return keys;
	    }
	    
	    this.size = function (){
	        return size;
	    }
	}
	function submitForm(){
		var cl=document.getElementById("citylist");
		var txt="";
		for(var i=0;i<ls.length;i++){
			txt+='<input type="hidden" name="citylistid" value="'+ls[i]+'" />';
		}
		cl.innerHTML=txt;
		document.getElementById("sampleform").submit();
	}
	
	var latlngs=new HashMap();
	<!-- #for area : ${arealist } -->
		//latlng["${area.id}"]="${area.lat},${area.lng}";
		latlngs.put("${area.id}","${area.lat},${area.lng}");
	<!-- #end -->
</script>
</body>
</html>