<!DOCTYPE html>
<html>
<head>
<meta/>
<title>爱游天下-iyoutianxia</title>
<meta name="description" content="Administry - Admin Template by www.865171.cn" />
<meta name="keywords" content="Admin,Template" />
<link rel="shortcut icon" type="image/png" HREF="../../img/favicons/favicon.png"/>
<link rel="icon" type="image/png" HREF="../../img/favicons/favicon.png"/>
<link rel="apple-touch-icon" HREF="../../img/favicons/apple.png" />
<link rel="stylesheet" href="../../css/style.css" type="text/css" />
<link rel="stylesheet" href="../../css/custom.css" type="text/css" />
<script type="text/javascript" SRC="../../js/swfobject.js"></script>
<script type="text/javascript" SRC="../../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.ui.core.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.ui.widget.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.ui.tabs.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.tipTip.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.superfish.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.supersubs.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.nyroModal.pack.js"></script>
<script type="text/javascript" SRC="../../js/jquery.validate_pack.js"></script>
<script type="text/javascript" SRC="../../js/jquery.tagInput.min.js"></script>
<script type="text/javascript" SRC="../../js/jquery.wysiwyg.min.js"></script>

<script type="text/javascript" SRC="../../js/jquery.contextmenu.r2.js"></script>

<script type="text/javascript" src="../../jBox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="../../jBox/i18n/jquery.jBox-zh-CN.js"></script>

<link type="text/css" rel="stylesheet" href="../../jBox/Skins/Blue/jbox.css"/>
<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<link rel="stylesheet" type="text/css" media="all" href="../../css/ie.css"/>
<script src="../../js/html5.js"></script>
<![endif]-->
<!--Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js -->
<!--[if lt IE 8]>
<script src="../../js/IE8.js"></script>
<![endif]-->
<script type="text/javascript">

/* sample tags */
var tags=[
	{tag:"js",freq:30},{tag:"jquery",freq:25}, {tag:"pojo",freq:10},{tag:"agile",freq:4},
	{tag:"blog",freq:3},{tag:"canvas",freq:8}, {tag:"dialog",freq:3},{tag:"excel",freq:4},
	{tag:"engine",freq:5},{tag:"flex",freq:18}, {tag:"firefox",freq:23},{tag:"javascript",freq:40},
	{tag:"graph",freq:15},{tag:"grid",freq:20}, {tag:"hibernate",freq:13},{tag:"ical",freq:4},
	{tag:"ldap",freq:9},{tag:"load",freq:20}, {tag:"security",freq:13},{tag:"XSS",freq:21},
	{tag:"CSRF",freq:19},{tag:"html",freq:22}, {tag:"xml",freq:13},{tag:"tools",freq:21}
];

$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	$('#productdesc').wysiwyg({
    controls: {
      strikeThrough : { visible : true },
      underline     : { visible : true },
      
      justifyLeft   : { visible : true },
      justifyCenter : { visible : true },
      justifyRight  : { visible : true },
      justifyFull   : { visible : true },
      
      indent  : { visible : true },
      outdent : { visible : true },
      
      subscript   : { visible : true },
      superscript : { visible : true },
      
      undo : { visible : true },
      redo : { visible : true },
      
      insertOrderedList    : { visible : true },
      insertUnorderedList  : { visible : true },
      insertHorizontalRule : { visible : true },

      h4: {
              visible: true,
              className: 'h4',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h4>' : 'h4'],
              tags: ['h4'],
              tooltip: 'Header 4'
      },
      h5: {
              visible: true,
              className: 'h5',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h5>' : 'h5'],
              tags: ['h5'],
              tooltip: 'Header 5'
      },
      h6: {
              visible: true,
              className: 'h6',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h6>' : 'h6'],
              tags: ['h6'],
              tooltip: 'Header 6'
      },
      
      cut   : { visible : true },
      copy  : { visible : true },
      paste : { visible : true },
      html  : { visible: true }
    }
  }); 
  
	/* tag input field */
	$("#tags").tagInput({
		tags:tags,
		//jsonUrl:"tags.json",
		sortBy:"frequency",
		suggestedTags:["jquery", "tagging", "tag", "component", "delicious", "javascript"],
		tagSeparator:" ",
		autoFilter:true,
		autoStart:false,
		//suggestedTagsPlaceHolder:$("#suggested"),
		boldify:true
	});


});


</script>
</head>
<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><a href="javascript: //;" onclick="javascript:window.close();"><img SRC="../../img/logo.png" alt="iyoutianxia" /></a><!--<span>Administry</span> demo--></div>
			<!-- Top navigation -->
			<div id="topnav">
				<!-- #if null != ${user} -->
				<a href="javascript: //;"><img class="avatar" SRC="../../upload/usr/photo/small_${user.photo }" width="32px" height="32px" alt="${user.name }" /></a>
				欢迎您 <b>${user.name }</b>
				<span>|</span> <a href="out">退出</a><br />
				<small>您有 <a href="javascript: //;" class="high"><b>0</b> 新消息!</a></small>
				<!-- #else -->
				<a href="login">登录</a>
				<span>|</span> <a href="register">注册</a>
				<!-- #end -->
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<nav id="menu">
				<ul class="sf-menu">
					<li class="current"><a HREF="">首页</a></li>
					<li>
						<a HREF="javascript: //;">社区</a>
						<ul>
							<li>
								<a href="javascript: //;">游记</a>
								<ul>
									<li><a HREF="notes">游记</a></li>
									<li><a HREF="javascript: //;">游记话题</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a HREF="javascript: //;">导游</a>
						<ul>
							<li>
								<a href="javascript: //;">北京</a>
								<ul>
									<li><a HREF="javascript: //;">全地区</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript: //;">云南</a>
								<ul>
									<li><a HREF="javascript: //;">丽江</a></li>
									<li><a HREF="javascript: //;">香格里拉</a></li>
									<li><a HREF="javascript: //;">西双版纳</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a HREF="javascript: //;">行程</a>
						<ul>
							<li>
								<a href="route">热门行程</a>
							</li>
						</ul>
					</li>
					<li><a HREF="javascript: //;">旅游</a></li>
					<li><a HREF="javascript: //;">驴游</a></li>	
					<li><a HREF="javascript: //;">攻略</a></li>
					<li><a HREF="javascript: //;">活动</a></li>	
					
					<!-- #if null != ${user} -->
					<li><a HREF="album">相册</a></li>
					<li>
						<a HREF="javascript: //;">个人中心</a>
						<ul>
							<li>
								<a href="p">我的信息</a>
							</li>
							<li>
								<a href="myroute">我的行程</a>
							</li>
						</ul>
					</li>
					<!-- #end -->
				</ul>
			</nav>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<!--<aside><b>中文</b> &middot; <a href="#">英文</a></aside>
			-->
			
			<!-- End of Aside links -->
		</div>
		
		<div id="box"></div>
		<script type="text/javascript">
			
		</script>
	</header>
	<!-- End of Header -->
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1>社区 &rarr; <span>游记</span></h1>
			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">					
					<div id="tid">
						<h3>${note.name }</h3>
						<span class="subtitle">${note.tags }</span>
						<hr/>
					</div>
					<div id="tabs-1" onmouseup="sss()">
						<p>
							${note.context }
						</p>
					</div>


				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside id="rh" class="column width2">
					<p><a href="#" class="btn btn-special btn-green"><img SRC="../../img/page_white_go.png" class="icon" alt=""/>游记预览</a></p>
					<p><a href="#" class="btn btn-special"><img SRC="../../img/page_save.png" class="icon" alt=""/>保存游记</a></p>
					<div class="content-box">
						<header>
							<h3>权限信息</h3>
						</header>
						<section>
							请选择游记的权限信息，公开：任何人都可以批注，私有：不允许其他人批注。
							<p>
								<select id="visibility" class="full" name="visibility">
									<option value="1" selected>公开</option>
									<option value="2">私有</option>
								</select>
							</p>
						</section>
					</div>
					<div id="rtools" class="content-box">
						<header>
							<h3>游记标签</h3>
						</header>
						<section>
							请选择或输入游记标签，这样更便于其他人找到你的游记，标签之间用空格隔开
							<p><textarea id="tags" class="small full" name="tags"></textarea></p>
						</section>
					</div>
					<div id="rightmenu">
						<dl class="first">
							<dt><img width="16" height="16" alt="" SRC="../../img/help.png"></dt>
							<dd><a href="#">帮助</a></dd>
							<dd class="last">如果你需要帮助，请查看帮助信息</dd>							
						</dl>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->
	
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
				<a href="#">Dashboard</a> &middot;
				<a href="#">Content</a> &middot;
				<a href="#">Reports</a> &middot;
				<a href="#">Users</a> &middot;
				<a href="#">Media</a> &middot;
				<a href="#">Events</a> &middot;
				<a href="#">Newsletter</a> &middot;
				<a href="#">Settings</a>
			</nav>
			<p>Copyright &copy; 2010 <b><a HREF="http://www.865171.cn" title="www.865171.cn">www.865171.cn</a></b> | Icons by <a HREF="http://www.865171.cn">865171.cn</a></p>
		</div>
	</footer>
	<!-- End of Page footer -->
	
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>
			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->
	
	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

<!-- User interface javascript load -->
<script type="text/javascript" SRC="../../js/administry.js"></script>
<script type="text/javascript">
	$(function(){
		var toolsh = $("#rtools").offset().top;  
		$(window).scroll(function(){  
			var scroH = $(this).scrollTop();  
			if(scroH>=toolsh){  
				$("#rtools").css({"position":"fixed","top":0}); 
				$("#rtools").css({"width":"234px"}); 
			}else if(scroH<toolsh){  
				$("#rtools").css({"position":"static"});  
			}    
		});
	})  
</script>  
	<!--  Context menu -->
	<div class="contextMenu" id="myMenu3">
    	<ul>
	      	<li id="sign">添加到地点标记</li>
	      	<li id="pic">转载图片</li>
	      	<li id="newa">打开链接</li>
	      	<li id="toroute">添加到行程</li>
	      	<li id="comment">评论</li>
	      	<li id="raider">引用攻略</li>
    	</ul>
  	</div>
<script type="text/javascript">
	$('#tabs-1').contextMenu('myMenu3', {
		onContextMenu: function(e) {
			var _Obj = document.all ? event.srcElement : e.target;
	    	if(_Obj.tagName=="IMG"){
	    		purl=_Obj.src;
	    	}
			return true;
	    },
	    onShowMenu: function(e, menu) {
	    	var _Obj = document.all ? event.srcElement : e.target;
	    	if(_Obj.tagName!="IMG"){
		        $('#pic', menu).remove();
	    	}
	    	if(_Obj.tagName!="A"){
		        $('#newa', menu).remove();
	    	}
	    	
	        return menu;
	    },
		bindings: {
			'sign': function(t) {
				//var _Obj = document.all ? event.srcElement : t.target;
				//alert(t.srcElement);
				if(txt){
					<!-- #if null != ${user} -->
					$.jBox.messager("成功添加一个地点标记，现在去<a href=''>处理</a>", "添加地点标记", null, { width: 350, showType: 'fade' });				
					<!-- #else -->
					$.jBox.tip('请<a href="javascript:$.jBox.open(states, \'进行如下操作,请先登录\', 450, \'auto\');"><span style="font-color:write;">登录</span></a>后操作');
					<!-- #end -->
					//alert(txt);
				}else{
					$.jBox.tip('请选取要操作的信息');
				}
	        	
	        },
	        'pic': function(t) {
				//var _Obj = document.all ? event.srcElement : t.target;
				//alert(t.srcElement);
				if(purl){
					<!-- #if null != ${user} -->
					$.jBox.messager("成功转载一张图片："+purl, "转载图片", null, { width: 350, showType: 'fade' });	
					purl=null;
					<!-- #else -->
					$.jBox.tip('请<a href="javascript:$.jBox.open(states, \'进行如下操作,请先登录\', 450, \'auto\');"><span style="font-color:write;">登录</span></a>后操作');
					<!-- #end -->
					//alert(txt);
				}
	        	
	        }
	    }
	});
	var txt;
	var purl;
	function sss(){
		if(document.selection){
			txt = document.selection.createRange().text;
		}else{
			txt = window.getSelection()+'';
		}
		if(txt){
		 	//document.execCommand('CreateLink', false, txt);
			//show(txt)
			
		}
	}
	var html1 = '<div class="wrapper-login">'
		+'<section class="full">'			
		+'<h3>欢迎来到 爱游天下</h3>'
			+'<form id="loginform" method="post" action="login">'
				+'<input type="hidden" id="login" value="true" name="login"/>'
				+'<p>'
					+'<label class="required" for="account">用户名:</label><br/>'
					+'<input type="text" id="account" class="full" value="${account }" name="account"/>'
				+'</p>'
				+'<p>'
					+'<label class="required" for="password">密码:</label><br/>'
					+'<input type="password" id="password" class="full" value="" name="password"/>'
				+'</p>'
				//+'<p>'
					//+'<input type="submit" class="btn btn-green big" value="登录"/> &nbsp; <a href="register" >我还没有注册?</a> or <a href="javascript: //;">忘记密码?</a>'
				//+'</p>'
				//+'<div class="clear">&nbsp;</div>'
				//+'<p>'
				//	+'<input type="submit" class="btn btn-green big" value="使用QQ账号快速登录"/>'
				//+'</p>'
				+'<div class="clear">&nbsp;</div>'
				+'<div class="clear">&nbsp;</div>'
			+'</form>'
	+'</section>'
	+'</div>';

	var data = {};
	var states = {};
	states.state1 = {
		content: html1,
		buttons: { '登录': 1, '取消': 0 },
		submit: function (v, h, f) {
			if (v == 0) {
				return true; // close the window
			}else {
				h.find('#fin').hide('fast', function () { $(this).remove(); });

				data.account = f.account; //或 h.find('#amount').val();
				if (data.account == '') {
	    			$('<div id="fin" class="box box-info">请输入用户名，密码</div>').prependTo(h).show('fast');
	    			return false;
				}
				data.password = f.password;
				if (data.password == '') {
	    			$('<div id="fin" class="box box-info">请输入用户名，密码</div>').prependTo(h).show('fast');
	    			return false;
				}

				//$.jBox.nextState(); //go forward
				// 或 $.jBox.goToState('state2')
				$.jBox.nextState('<div class="msg-div">正在登录...</div>');
				
				
				
				//window.setTimeout(function () { $.jBox.nextState(msg.join('')); }, 2000);
				window.setTimeout(function () { dl(data); },2000);
				
			}
			return false;
		}
	};
	states.state2 = {
		    content: '',
		    buttons: {} // no buttons
	};
	states.state3 = {
		    content: '',
		    buttons: {}
	};
	var flag;
	function dl(d){
		//alert();
		$.ajax({
			url :'http://localhost:8080/iyoutianxia/iytx/ajaxlogin',
			type:'get',
			dataType:'json',
			//cache: false, 
			//async:false,
			data:"&account="+d.account+"&password="+d.password,
			success:function(res){
				flag=res.flag;
				if(flag!=null && flag!="undifined"){
					if(flag=="-1"){
						 $.jBox.prevState();
					}
					if(flag=="0"){
						 $.jBox.prevState();
					}
					if(flag=="1"){
						window.location.href=window.location.href;
						window.opener.location.reload(); 
					}
				}
			}
		});
	}
</script>

</body>
</html>