<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>爱游天下-iyoutianxia</title>
		<meta name="description" content="Administry - Admin Template by www.865171.cn" />
		<meta name="keywords" content="Admin,Template" />
		<link rel="shortcut icon" type="image/png" HREF="../img/favicons/favicon.png"/>
		<link rel="icon" type="image/png" HREF="../img/favicons/favicon.png"/>
		<link rel="apple-touch-icon" HREF="../img/favicons/apple.png" />
		<link rel="stylesheet" href="../css/style.css" type="text/css" />
		<link rel="stylesheet" href="../css/custom.css" type="text/css" />
		<script type="text/javascript" SRC="../js/swfobject.js"></script>
		<script type="text/javascript" SRC="../js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.ui.core.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.ui.widget.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.ui.tabs.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.tipTip.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.superfish.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.supersubs.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.nyroModal.pack.js"></script>
		<script type="text/javascript" SRC="../js/jquery.validate_pack.js"></script>
		<script type="text/javascript" SRC="../js/jquery.tagInput.min.js"></script>
		<script type="text/javascript" SRC="../js/jquery.wysiwyg.min.js"></script>
		
		<script type="text/javascript" SRC="../js/jquery.contextmenu.r2.js"></script>
		
	</head>
	<body>
		<div id="page">
			<div class="context1">
				<a href="../js/jquery.contextmenu.r2.js">ddddd</a>
				<h2><a href="">${note.name }</a></h2>
				<h3></h3>
				<div id="context" class="context1">
				${note.context }
				</div>
				
				<div style="clear: both;"></div>
			</div>
		</div>
		<div class="contextMenu" id="myMenu3">
	
	    <ul>
	
	      <li id="item_1" onclick="">上传图片</li>
	
	      <li id="item_2" onclick="javascript:selectAlbum();">从相册中添加</li>
	
	      <li id="item_3">标记为链接</li>
	
	    </ul>
	
	  </div>
	<script type="text/javascript">
	$("#page").contextMenu('myMenu3', {
	
	      onContextMenu: function(e) {
	
	        if ($(e.target).attr('id') == 'dontShow') return false;
	
	        else return true;
	
	      },
	
	      onShowMenu: function(e, menu) {
	
	        if ($(e.target).attr('id') == 'showOne') {
	
	          $('#item_2, #item_3', menu).remove();
	
	        }
	
	        return menu;
	
	      }
	
	    });
	</script>
		<div id="footer">&copy; 2013 爱游天下</div>
		<script type="text/javascript">
			
		</script>
		
		
		<!-- 将此代码放在适当的位置，建议在body结束前 -->
		<script id="bdimgshare_shell"></script>
		<script>
		var bdShare_config_imgshare = {
			"type":"list"
			,"size":"small"
			,"pos":"top"
			,"color":"black"
			,"list":["qzone","tsina","tqq","renren","t163"]
			,"uid":"0"
		};
		document.getElementById("bdimgshare_shell").src="http://bdimg.share.baidu.com/static/js/imgshare_shell.js?cdnversion=" + Math.ceil(new Date()/3600000);
		</script>
		<!--  Context menu -->
	
	</body>
</html>